/* Style for index page */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling for the animation effect */
}

.entry-animation {
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    opacity: 0;
    animation: fadeIn 4s forwards, slideIn 2s forwards;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes slideIn {
    0% {
        left: -100%; 
    }
    100% {
        left: 10%; 
    }
}
.header {
    text-align: left;
    padding: 50px 20px;
    color:rgb(255, 255, 255);
}

.logo {
    font-size: 5em; 
    margin-bottom: 10px;
}

.tagline {
    font-size: 4em;
    font-weight: bold; 
    margin-top: 10px;
    color:black;
}

.get-started {
    text-align: center;
    margin-top: 50px;
}

button {
    background-color: #fff;
    color: #3498db;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    opacity: 0; 
    animation: fadeIn 1s forwards, slideInButton 1s forwards; 
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ecf0f1;
    color: #3498db;
}

@keyframes slideInButton {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0);
    }
}


.user-info {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: right;
}

.user-info a {
    color: #3498db;
    text-decoration: none;
    margin-left: 10px;
}

.main-content {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.donate-blood,
.request-blood,
.news {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.get-started {
    text-align: center;
    margin-top: 50px;
}

button {
    background-color: #3498db;
    color: #fff;
    font-size: larger;
    font-weight: bold;
    padding: 10px 20px;
    width:250px;
    height: 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}


.gradient-background {
    background: linear-gradient(to right, #1c81c4, #ed2b15);
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.tagline {
    font-size: 18px;
    margin-top: 10px;
}

.get-started {
    position: fixed;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width: 1200px) and (min-width: 565px) {
    .get-started {
        margin-top: 30px;
    }

    .main-content {
        flex-direction: column;
        align-items: center; 
    }
    button {
        position: relative;
        top: 150px;
        left: 5%;
    }
    .donate-blood,
    .request-blood,
    .news {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 564px) and (min-width: 100px) {
    .header {
        padding: 20px;
    }

    .logo {
        font-size: 3em;
    }

    .tagline {
        font-size: 1em;
    }

    .get-started {
        margin-top: 30px;
    }

    .main-content {
        flex-direction: column;
        align-items: center; 
    }

    button {
        width: 100%;
        padding: 1em 20px; 
        font-size: 16px;
        height: 50%;
        margin-top: 10px;
        position: relative;
        top: 150px;
        right:inherit;
    }

    .donate-blood,
    .request-blood,
    .news {
        width: 100%;
        margin-bottom: 20px;
    }
}