<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="styles.css"> <!-- Include the CSS file -->
</head>
<body>
    <div class="container">
        <h2>Password Reset</h2>
        <form id="resetForm">
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>
            <input type="submit" value="Reset Password">
        </form>
        <div id="alert" class="hidden">
            Password reset link has been sent to your email.
        </div>
    </div>


    <script>
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.10.0/firebase-app.js";
    document.getElementById('resetForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from submitting normally

            var email = document.getElementById('email').value;

            // Firebase configuration
  const config = {
    apiKey: "AIzaSyCFu9G0-QWPUtGV3iONI32q4n69__jMM6E",
    authDomain: "test-2-18803.firebaseapp.com",
    databaseURL: "https://test-2-18803-default-rtdb.asia-southeast1.firebasedatabase.app",
    projectId: "test-2-18803",
    storageBucket: "test-2-18803.appspot.com",
    messagingSenderId: "914801447775",
    appId: "1:914801447775:web:fd28b9390557973f611cea"
  };
            // Initialize Firebase
            firebase.initializeApp(config);
            var auth = firebase.auth();

            auth.sendPasswordResetEmail(email)
                .then(function() {
                    document.getElementById('alert').classList.remove('hidden');
                    setTimeout(function() {
                        document.getElementById('alert').classList.add('hidden');
                    }, 5000); // Hide the alert after 5 seconds
                })
                .catch(function(error) {
                    console.error('Password reset error:', error.message);
                    alert('Password reset failed. Please try again.');
                });
        });
    </script>
</body>
</html>
